.contact-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-header-section {
    width: 100%;
    margin-bottom: clamp(0.5rem, 2vw, 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-content-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 2vw, 1rem);
}

.contact-get-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-get-in-touch a {
    color: #888;
}