.navbar-container {
    position: fixed;
    left: calc(50% + 750px / 2 + 2rem);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    z-index: 1000;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar-link:hover,
.navbar-link.active {
    transform: scale(1.1);
}

.navbar-link:hover path,
.navbar-link.active path {
    stroke: transparent;
    fill: #fff;
    opacity: 1;
}

.navbar-link:active {
    transform: scale(0.9);
}

.navbar-link-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 32px;
    background-color: #fff;
}

.navbar-link::after {
    content: attr(data-label);
    left: 40px;
    position: absolute;
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    white-space: nowrap;
    pointer-events: none;
}

.navbar-link:hover::after,
.navbar-link.active::after {
    opacity: 1;
}

@media (max-width: 1300px) {
    .navbar-container {
        display: none;
    }
}